@font-face {
  font-family: 'Manrope Variable';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('@fontsource-variable/manrope/files/manrope-latin-wght-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Fredoka Variable';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('@fontsource-variable/fredoka/files/fredoka-latin-wght-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@fontsource/caveat/files/caveat-latin-600-normal.woff2')
    format('woff2');
}
